---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
	<p>I'm Daniel Higley, a machine learning engineer/data scientist. I currently work on algorithms for detecting various types of prohibited financial market trading.</p>

	<p>Before joining industry, I did an applied physics PhD at Stanford in X-ray science, focused on analysis of the data from large-scale experiments.</p>

	<p>Outside of work, I enjoy climbing, hockey, drinking tea and exploring.</p>
</BaseLayout>