html {
    background-color: #f1f5f9;
    font-family: sans-serif;
}

body {
    margin: 0 auto;
    width: 100%;
    /* max-width: 95ch; */
    padding: 0.25rem 0;
    line-height: 1.5;
}

header {
    margin: 0 auto;
    width: 100%;
    max-width: 95ch;
    padding: 1rem;
    line-height: 1.5;
    position: relative;
    height: 55px;
    /* margin-top: 0; */
    padding-top: 0;
    padding-bottom: 0;
}

.header-container {
    border-bottom: 1.25px solid gray;
}

footer {
    margin: 1rem auto;
    width: 100%;
    max-width: 95ch;
    line-height: 1.5;
    position: relative;
    padding: 0 1rem;
}

.footer-container {
    border-top: 1.25px solid gray;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

/* nav styles  */
.hamburger {
    padding-right: 20px;
    cursor: pointer;
}

.hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #ff9776;
}

.nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    background-color: #ff9776;
    display: none;
    margin: 0;
}

.nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
}

.nav-links a:hover,
.nav-links a:focus {
    text-decoration: underline;
}

.expanded {
    display: unset;
}

@media screen and (min-width: 636px) {
    .nav-links {
        margin-left: 5em;
        display: block;
        position: static;
        width: auto;
        background: none;
    }

    .nav-links a {
        display: inline-block;
        padding: 15px 20px;
    }

    .hamburger {
        display: none;
    }
}

html.dark {
    background-color: #0d0950;
    color: #fff;
}

.dark .nav-links a {
    color: #fff;
}

.content {
    margin: 0 auto;
    width: 100%;
    max-width: 95ch;
    padding: 1rem;
    line-height: 1.5; 
}

nav {
    float: right;
    display: flex;
    justify-content: flex-end;
}

.name-link a {
    float: left;
    font-size: 2rem;
    text-decoration: none;
    color: black;
}

.name-link a:hover,
.name-link a:focus {
    text-decoration: underline;
}

.dark .name-link a {
    color: #fff;
}